.idea/*
*.iml
*.iws
*.csv
*.ipr
.DS_Store
target/*
*.swp
/target
.project
.classpath
.settings
.gradle
classes/*
build
out
*.gz
*.tgz
*.log
*.lock
*/dist/*.jar
**/**/node_modules/**
rebel.xml
rebel-remote.xml
*/org/rapid_framework/MainUI.java
*/src/main/resources/generator.xml
*.md
*mvnw*